### IntelliJ IDEA ###

# Compiled class file
*.class

# Log files
*.log

# IntelliJ project files
*.iml
*.iws
*.ipr

# User-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml

# Sensitive or environment-specific files
.idea/dataSources/
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle files
.gradle/
build/
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/TorrentSever/.idea/
